#General
.DS_Store

# Distribution folders
dist/*.js
dist/*.json
lib

# Dependency directories
node_modules

# Package generated directories
leveldb

#IDE directories
.idea
.vscode

##Temporary ignore for documentation
docs/_build

#Logs
npm-debug.log*

# Temporary ignore
data
!data/example
docs
example
!example/example.js
!lib
proto
!proto/fhir-stu3/*.proto
!proto/fhir-stu3/stu3.json
!src
test
package-lock.json
proto.sh
